/* Global styles */
:root {
	--color-primary: #222;
	--color-secondary: #fff;
	--color-ahover: #00FFFF;
	--color-active: #DC143C;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #555;
	font-size: 20px;
}

#header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-primary);
	width: 100vw;
	height: 60px;
}

#header-container .logo{
	height: 50px;
	margin-left: 2rem;
}

/* Navigation styles */
.main-navigation{
	display: flex;
	justify-content: flex-end;
	width: 100vw;
	height: 60px;
}

.main-navigation .nav-links{
	display: flex;
	align-items: center;
	padding-right: 2rem;
	list-style-type: none;
}

.main-navigation .nav-links a{
	color: var(--color-secondary);
	padding: 1rem;
	text-decoration: none;
	font-size: 0.9rem;
}

.nav-links li a:hover{
	color: var(--color-ahover);
}

.main-navigation .nav-links  li .active{
	color: var(--color-active);
}

.nav-toggle{
	display: none;
}

.nav-toggle{
	margin-right: 2rem;
	font-size: 32px;
	border: none;
	background: none;
	color: var(--color-secondary);
	cursor: pointer;
}

/* Footer styles */
footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	width: 100vw;
	height: 60px;
	position: fixed;
	bottom: 0;
}

footer p{
	color: var(--color-secondary);
	font-size: 0.9rem;
	padding-left: 2rem
}

footer small{
	font-size: 0.8rem;	
}

footer .social-media{
	padding-right: 2rem;
}

/* Media queries */
@media screen and (max-width: 800px){
	.main-navigation{
	display: none;	
	}
	
	.nav-toggle{
		display: flex;
		margin-right: 2rem;
	}
}

@media screen and (max-width: 600px){
	.main-navigation{
		display: none;
		margin-right: 2rem;
	}
	
	.nav-toggle{
		display: flex;
	}
}