/* Global styles */
:root{
	--clr-primary: #222;
	--clr-secondary: #d6d6d6;
	--clr-text: #d6d6d6;
	--clr-background: #333;
	--clr-heading: #111;
	--clr-ahover: #777;
	--clr-ctahover: #555;
	--clr-cta: #999;
	--clr-acta: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

body{
	display: flex;
	justify-content: center;
	background-color: #333;
	width: 100%;
	height: auto;
	font-size: 18px;
}

.wrapper {
	background-color: #999;
	width: 1200px;
	height: 100%;
}

.sticky {
	position: sticky;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

/* Logo Container */
#logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: var(--clr-primary);
}

.logo {
	height: 50px;
	width: auto;
}

.logo:hover {
	cursor: pointer;
}

/* Banner Styles */
#hero-container {
	width: 100%;
	height: 200px;
	background-color: #666;
	background-image: url("../assets/img/banner_update.jpg");
	background-size: 1200px 200px;
	background-repeat: no-repeat;
}

#hero-container .hero-text {
	font-size: 1.5rem;
	color: var(--clr-text);
	padding: 1.5rem; 
	text-shadow: 2px 1px #000;
}

/* Navigation Styles */
#navigation-container {
	
}

.main-nav {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 70px;
	background-color: var(--clr-primary);
}

.main-nav .nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	list-style: none;
}

.nav-links a {
	color: var(--clr-text);
	padding: 0 2rem;
	text-decoration: none;
	font-size: 1.2rem;
}

.nav-links a:hover {
	color: var(--clr-ahover);
}

/* About Section */
#heading-about, 
#heading-pastries,
#heading-drink,
#heading-hours,
#heading-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	color: var(--clr-text);
	background-color: var(--clr-heading);
	font-size: 1rem;
	scroll-padding-top: -100px;
}


#about {
	display: flex;
	align-items: center;
	flex-basis: 30%;
	width: 100%;
	height: 350px;
	background-color: var(--clr-primary);
}

#about .about-description {
	font-size: 0.9rem;
	color: var(--clr-text);
	width: 400px;
	padding: 0 2rem;
}

img {
	width: 300px;
	height: 300px;
	margin: auto;
}

/* Drink Menu Styles */
#drink-menu {
	display: flex;
	width: 100%;
	height: 350px;
	background-color: var(--clr-primary);
}

.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 1rem ; 
}

.menu-description {
	color: var(--clr-text);
	font-size: 0.9rem;
	padding: 0 1em;
}

/* Pastries Menu Styles */
#pastries-menu {
	display: flex;
	width: 100%;
	height: 350px;
	background-color: var(--clr-primary);
}

/* Hours Styles */
#hours {
	display: flex;
	width: 100%;
	height: 350px;
	background-color: var(--clr-primary);
}

.hours-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.hours-description {
	color: var(--clr-text);
	font-size: 0.9rem;
	padding: 0 1em;
}

/* Footer Styles */
#footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-primary);
	width: 100%;
	height: 70px;
}

#footer-container .footer-description {
	color: var(--clr-text);
	font-size: 0.9rem;
}
