/* Global styles */
:root{
	--clr-primary: #222;
	--clr-secondary: #fff;
	--clr-text: #fff;
	--clr-background: #333;
	--clr-heading: #111;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--clr-background);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 2000px;
}

.wrapper{
	height: 100vh;
	width: 100vw;
}

/* Section styles */
#logo-container{
	grid-area: logo;
	background-color: var(--clr-primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo{
	height: 50px;
}

#hero-container{
	background-color: var(--clr-background);
	background-image: url(../assets/img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
}

#navigation-container{
	display: flex;
	justify-content: center;
	background-color: var(--clr-primary);
}

#heading{
	display: flex;
	justify-content: center;
	width: 100%;
	color: var(--clr-secondary);
	padding: 0.5rem 0;
	background-color: var(--clr-heading);
}

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	height: 400px;
	background-color: var(--clr-background);
	
}

#drink-menu{
	display: flex;
	background-color: var(--clr-background);
}

#pastries-header{
	
}

#pastries-menu{
	
}

#hours-header{
	
}

#hours{
	
}

#contact-header{
	
}

#contact{
	
}

#footer-container{
	display: flex;
	justify-content: center;
	height: 50px;
	background-color: var(--clr-primary);
}

/* Image Styles */
.image{
	display: flex;
}

.img{
	max-width: 350px;
}

/* Text Styles */
.heading{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 0.8em;
	color: var(--clr-text);
}

.hero-text{
	font-size: 30px;
	padding: 0.5em;
	color: var(--clr-text);
	text-shadow: 1px 2px #000;
}

.about-description{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	max-width: 350px;
	height: 350px;
}

.about-description p{
	color: var(--clr-text);
	font-size: 0.9rem;
	padding: 10px;
	height: 350px;
	margin: auto;
}

.menu-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-description{
	padding: 2em;
	color: var(--clr-text);
	font-size: 0.8em;
}

.hours-container{
	padding: 2em;
}

.hours-description p{
	color: var(--clr-text);
	font-size: 0.8em;
}

/* Navigation styles */
.main-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-links{
	display: flex;
	list-style: none;
}

.nav-links li{
	padding: 1.5em;
}

.nav-links li a{
	text-decoration: none;
	color: var(--clr-text);
}

li.cta a{
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	padding: 10px;
	border-radius: 8px;
}

li.cta:hover a{
	background-color: var(--clr-background);
	color: var(--clr-text);
}

.form-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	height: 100%;
}

.form{
	display: grid;
	grid-gap: 10px;
	background-color: #000;
	height: 90%;
	padding: 10px;
	margin: 1em;
	border-radius: 1em;
}

.form label{
	color: var(--clr-text);
	font-size: 0.9em;
}

.btn{
	width: 100%;
	background-color: var(--clr-background);
	border: none;
	color: var(--clr-text);
	font-size: 0.8em;
	padding: 5px;
	border-radius: 0.5em;
}

.btn:hover{
	background-color: var(--clr-text);
	color: var(--clr-background);
}

/* Footer styles */
.footer-description{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
}

.footer-description p{
	color: var(--clr-text);
	font-size: 0.8em;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
style.css


/* Media queries */