:root{
	--clr-primary: #222;
	--clr-secondary: #fff;
	--clr-text: #fff;
	--clr-background: #333;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--clr-background);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

/* Grid Styles */
.wrapper{
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 60px 100px 60px 40px 400px 40px 400px 40px 400px 40px 400px 40px 400px 60px;
	grid-template-areas: 
	"logo logo logo"
	"hero hero hero"
	"nav nav nav"
	"left-img about-header right-img"
	"left-img about right-img"
	"drink-header drink-header drink-header"
	"drinks drinks drinks"
	"pastries-header pastries-header pastries-header"
	"pastries pastries pastries"
	"hours-header hours-header hours-header"
	"hours hours hours"
	"contact-header contact-header contact-header"
	"contact contact contact"
	"footer footer footer";
}

/* Grid Areas */
#logo-container{
	grid-area: logo;
	background-color: var(--clr-primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo{
	height: 50px;
}

#hero-container{
	grid-area: hero;
	background-color: var(--clr-background);
	background-image: url(../assets/img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#navigation-container{
	grid-area: nav;
	background-color: var(--clr-primary);
}

#left-img{
	grid-area: left-img;
	background-color: var(--clr-background);
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-header{
	grid-area: about-header;
	background-color: var(--crl-background);
}

#about{
	grid-area: about;
	background-color: var(--clr-background);
}

#right-img{
	grid-area: right-img;
	background-color: var(--clr-background);
	display: flex;
	justify-content: center;
	align-items: center;
}

#drink-header{
	grid-area: drink-header;
	background-color: var(--clr-background);
	border-top: 1px solid #fff;
}

#drink-menu{
	grid-area: drinks;
	background-color: var(--clr-background);
}

#pastries-header{
	grid-area: pastries-header;
	background-color: var(--clr-background);
	border-top: 1px solid #fff;
}

#pastries-menu{
	grid-area: pastries;
	background-color: var(--clr-background);
}

#hours-header{
	grid-area: hours-header;
	background-color: var(--clr-background);
	border-top: 1px solid #fff;	
}

#hours{
	grid-area: hours;
	background-color: var(--crl-background);
}

#contact-header{
	grid-area: contact-header;
	background-color: var(--clr-background);
	border-top: 1px solid #fff;	
}

#contact{
	grid-area: contact;
	background-color: var(--clr-background);
}

#footer-container{
	grid-area: footer;
	background-color: var(--clr-primary);
}

/* Image Styles */
.img{
	max-width: 300px;
	height: auto;
}

/* Text Styles */
.heading{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 0.8em;
	color: var(--clr-text);
}

.hero-text{
	font-size: 30px;
	padding: 0.5em;
	color: var(--clr-text);
	text-shadow: 1px 2px #000;
}

.about-description{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 1rem;
}

.about-description p{
	color: var(--clr-text);
	font-size: 0.9em;
	padding: 10px;
}

.menu-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-description{
	padding: 2em;
	color: var(--clr-text);
	font-size: 0.8em;
}

.hours-container{
	padding: 2em;
}

.hours-description p{
	color: var(--clr-text);
	font-size: 0.8em;
}

.main-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-links{
	display: flex;
	list-style: none;
}

.nav-links li{
	padding: 1.5em;
}

.nav-links li a{
	text-decoration: none;
	color: var(--clr-text);
}

li.cta a{
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	padding: 10px;
	border-radius: 8px;
}

li.cta:hover a{
	background-color: var(--clr-background);
	color: var(--clr-text);
}

.form-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	height: 100%;
}

.form{
	display: grid;
	grid-gap: 10px;
	background-color: #000;
	height: 90%;
	padding: 10px;
	margin: 1em;
	border-radius: 1em;
}

.form label{
	color: var(--clr-text);
	font-size: 0.9em;
}

.btn{
	width: 100%;
	background-color: var(--clr-background);
	border: none;
	color: var(--clr-text);
	font-size: 0.8em;
	padding: 5px;
	border-radius: 0.5em;
}

.btn:hover{
	background-color: var(--clr-text);
	color: var(--clr-background);
}

.footer-description{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
}

.footer-description p{
	color: var(--clr-text);
	font-size: 0.8em;
}